.git
.github
.idea
.vscode
.DS_Store
node_modules
vendor
build
docs
tests
.env
.env.*
!.env.example
*firebase-adminsdk*.json
storage/app/firebase
storage/logs/*
storage/debugbar
storage/app/excel
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
public/storage
public/hot
public/js/app.js
public/js/*.map
public/js/*.LICENSE.txt
public/js/node_modules_*.js
public/css/app.css
public/mix-manifest.json
error_log
.phpunit.result.cache
# unused leftovers
assets
index.php
server.php
test
test.php
nuxt.config.js
vite.config.js
cmd.sh
public/vendor/wizard-installer
resources/views/vendor/installer
